body {
    margin: 0px;
    font-family: "Muli",sans-serif;
    background-color: rgb(34, 131, 183 );
}

h1 {
    margin: 0px;
}

#posicion-form {
    position: relative;
    top: -100px;
}

.error-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
    width: 1850px;
}

.error-message-container {
    text-align: center;
    color: white;
}

h2 {
    font-size: 60px;
    text-align: center;
    flex-direction: row;
}

h1 {
    font-size: 150px;
    position: relative;
    flex-direction: row;
    left: -450px;
}

.clase {
    font-size: 18px;
}

.animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0%,20%,50%,80%,100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

.bounce {
    animation-name: bounce;
}

.footer {
    display: flex;
    align-items: center;
    min-height: 100px;
    width: 100%;
}

    .footer a {
        color: white;
        cursor: pointer;
        font-size: 14px;
        padding-left: 30px;
        text-decoration: none;
    }

    .footer:hover {
        text-decoration: underline;
    }

@media only screen and (max-width:600px) {
    .footer {
        align-items: flex-start;
        flex-direction: column;
    }
}
